.container-one-profile-page {
    margin: 5% auto;
    width: 76vw;
    height: 90vh;
    background-color: #FEF2DF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.data-section-list-profile{
    background-color: #fff;
    border-radius: 1rem;
    padding: 15px;
    overflow-y: auto;
    height: 75%;
}

.profile-section-one-profile{
    display: flex;
    width: 90%;
    height: 40%;
    margin: 2.5% auto 0 auto;
}

.profile-section-two-profile {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 45%;
    justify-content: center;
}

.data-section-profile{
    margin-top: 0;
    width: 40%;
}

.data-section-profile h1{
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 1.7rem;
    font-weight: 400;
}

.data-section-list-profile{
    &::-webkit-scrollbar{
        background-color: #E98676;
        width: 0.7rem;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #252B5F;
        border-radius: 1rem;
    }
} 

.profile-btns{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.profile-btns a{
    width: 30%
}

.profile-btns a button{
    width: 70%
}