@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Kalam&display=swap');

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #252B5F;
}